<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aucse.smarthub" version="1.0.14"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>AU Smart Hub</name>

    <description>
        AU Smart Hub is an all-in-one academic toolkit designed for Annamalai University students. 
        It provides CGPA calculation, CO-PO analysis, and future academic tools in a modern, offline-ready mobile application.
    </description>

    <author email="hello@amudhanmohan.in" href="https://amudhanmohan.in">
        Amudhan Mohan
    </author>

    <content src="index.html" />

    <!-- Allow Internet -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- SPLASH -->
    <platform name="android">
    
        <!-- APP ICON -->
	    <icon src="www/img/au_smart_hub.png" />

        <resource-file src="www/img/notify_icon.png" target="app/src/main/res/drawable/notify_icon.png" />
	
        <!-- Splash Screen -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/au_smart_hub.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#f8fafc" />

    </platform>

</widget>
